
<div  id="chat_window_1" style="margin-left:10px;" >
    <div class="col-xs-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading top-bar" >
                <div class="col-md-8 col-xs-8">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span> {{user}}</h3>
                </div>
                <div class="col-md-4 col-xs-4" style="text-align: right;">
                    <a href="#"><span ng-click="minimize()" id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim"></span></a>
                    <a href="#"><span ng-click="close()" class="glyphicon glyphicon-remove icon_close" data-id="chat_window_1"></span></a>
                </div>
            </div>
            <div ng-show="showChatMsgs" class="panel-body msg_container_base" id="body1_{{user}}">
                <!-- HERE THE CHAT MESSAGES WILL BE APPENDED BY THE DIRECTIVE ITSELF -->
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <input ng-model="chatData.msg" id="btn-input" type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." />
                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-sm" id="btn-chat" ng-click="sendMsg(chatData.msg)">Send</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>